body {
  background-color: black;
  color: white;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto {
  max-width: 300px;
  margin-top: 10%;
/*   border: 2px solid red; */
}
