body {
  background-color: black;
  color: white;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto {
  max-width: 300px;
  margin-top: 10%;
}
h1 {
  margin-left: 45%;
}
.box img {
  max-width: 200px;
  margin: 20px;
  margin-top: 10%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total-section {
  display: flex;
  justify-content: center;
}
