body {
  background-color: black;
  color: white;
  /*   display: flex;
  flex-direction: column; */
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto {
  max-width: 300px;
  margin-top: 10%;
}
h1 {
  margin-left: 41%;
}
.box img {
  max-width: 200px;
  margin: 20px;
  margin-top: 10%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total-section {
  display: flex;
  justify-content: center;
}
.casillas {
  display: grid;
  place-items: center;
  align-items: center;
  gap: 10px;
  margin-top: 20%;
}
.confirmar {
  width: 200px;
  margin-left: 41%;
}
